body {
    background-image: url("{{ url_for('static', filename='images/back1.jpg') }}");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {

    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1; 
    margin-bottom: 680px;
}

select#movie-dropdown {
    width: 450px;
    height: 100px;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    text-align:start
}

button#go-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer{
    background-color: #212529;
    color:white;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    margin-top: 700px;
}

h1 {
    font-size: 32px;
    margin: 0;
    margin-right: 900px;
}

.big-box {
    width: 650px;
    /*height: 500px;*/
    background-color: rgba(0, 0, 0, 0.658);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .container-fluid {
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
} */

.search-container {
    text-align: center;
}

#movie-search {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

#search-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

/* .custom-navbar{
    background-color: #060606e6;
    width:100%;
}

.navbar-brand{
    margin-right: 800px;
} */

.navbar-nav .nav-item.dropdown:click .dropdown-menu {
    display: block;
    background-color: rgba(195, 130, 2, 0.789);
}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu :hover{
    background-color: rgb(163, 111, 47);
    color: white;
    font-weight:bold;
}

/* .dropdown [data-toggle="dropdown"] {
    display: block;
  } */
  
  /* .dropdown:hover */ .dropdown-menu {
    display: none;
    background-color: #212529;
  }
  
  .dropdown.show .dropdown-menu {
    display: block;
  }


  @media (min-width: 1000px) {
    .navbar-brand {
        margin-right: 500px; 
        margin-left: 100px;
    }
}

  @media (min-width: 1700px) {
      .navbar-brand {
          margin-right: 1000px; 
          margin-left: 100px;
      }
  }



a.dropdown-item{
    text-align: center;
    background-color: #212529;
    color: rgb(47, 219, 219);
}

.navbar .btn {
    margin-right: 10px; /* Adjust the value to control the space between buttons */
    margin-bottom: 10px;
}


.options-bg:hover{
    background-color: white;
    color: black;
}


.recommendations {
    color: white; /* Set the text color to white */
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    padding: 10px; /* Add some padding to the recommendations */
    border-radius: 5px; /* Round the corners */
    margin-top: 10px;
}


#movie-dropdown option:hover {
    background-color: gold;
}
